* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background: #4F6F52;
}
.container-fluid
{
    width: 400px;
    margin: 60px auto;
    padding: 10px;
}
.inputs 
{
    padding: 2rem 0 2rem 0;
    text-align: center;
    justify-content: center;
    background: #A6FF96;
}
.inputs input[type="text"] 
{
    height: 4rem;
    width: 20rem;
    background: #EF9595;
    font-weight: bold;
    font-size: 2rem;
    padding: 10px;
    border: none;
    background-color: transparent;
    border: 2px solid #FFCC70;
    border-radius: 4px;
    margin-right:6px ;
}
.inputs input[type="submit"] 
{
    height: 6rem;
    width: 7rem;
    background: #A73121;
    font-weight: bold;
    color: white;
    font-size: 1rem;
    margin-top: 20px;
    border: none;
    border-radius: 2px;
}
.display 
{
    text-align: center;
    width: 400px;
    color: #b6c911;
}
.wrapper 
{
    margin: 0 9rem;
    background-color: white;
    height: 45vh;
    margin: 50px auto;
    border-radius: 2px;
}

.wrapper h2
{
    padding: 5px 0;
    text-align: center;
    background: #016A70;
    color: #D2DE32;
    font-family: sans-serif;
}
.wrapper p
{
    margin:20px 50px;
    margin-right: 20px;
    text-align: left;
    color: #FF9B50;
    font-size:23px;
}
.wrapper h2 span
{
    font-size: 35px;
    color: #9beefb;
}
.wrapper p span
{
    color: #004225;
    font-size: 25px;
}